<!-- Header -->
<header id="header">
    <nav class="navbar">
        <a class="nav-link" href="#project">My Projects</a>
        <a class="navbar-brand" href="index.html"> <img id="header-logo" src="images/JM-whtLogo.png" alt="Home" /> </a>
        <a class="nav-link" href="#about">About Me</a>
    </nav>
</header>