:root {
    --cHeader: rgb(44, 52, 95);
    --cFooter: rgb(69, 86, 133);
}

a {
    color: white;
}

.blur {
    filter: brightness(0.8) blur(21px);
}

/******----- HEADER -----******/

#header {
    background-color: var(--cHeader);
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

#headerLogo {
    width: 60px;
    height: 40px;
    padding: 5px;
    border:  solid 3px;
}

header button {
    margin: 7px;
    color: white;
    background-color: transparent;
    border: none;
}

.navLink {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navLink:hover {
    color: white;
    text-shadow: 3px 2px 12px rgba(255, 255, 255, 0.743);
    background-color: var(--cHeader);
    border-radius: 10%;
    padding-top: 3vh;
    border-bottom: solid 2px;
    transition: text-shadow .25s;
    transition: padding-top .4s;
}

/*****----- PAGES -----*****/

#pageWrapper {
    height: 90vh;
    margin-top: 10vh;
}

.pageContainer {
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    width: 100vw;
    height: 91vh;
    padding-top: 4vh;
    align-items: center;
    background-image: linear-gradient(to bottom,var(--cHeader), var(--cFooter));   
}

.pageIntro {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    width: fit-content;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.202), transparent);
}

/**----- HOME -----**/

#homePage figure {
    color: white;
    position: relative;
    top: 32vh;
}

.bannerTxt {
    position: relative;
    width: 100%;
}

.txt {
    position: absolute;
    width: fit-content;
}

.txtRear {
    color: rgba(255, 255, 255, 0.15);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.14);
}

.txtMid {
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 1px 2px 8px rgba(255, 255, 255, 0.4);
}

.txtFront {
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.24);
}


/**----- ABOUT -----**/

.about {
    position: relative;
    width: 100vw;
    margin: 3.5% 0%;
    box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.5);
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.aboutImage {
    width: 200px;
    height: 170px; 
    filter: grayscale(10%);
    border-radius: 50% 50% 50% 50%;
    margin-bottom: 1%;
}

.aboutSoon {
    color: lightsteelblue;
    font-weight: 500;
}

/*.aboutImage:hover {
    border-radius: 25%;
    transition: border-radius .57s;
}*/

/**----- PROJECTS -----**/

.projectCard {
    color: black;
    margin: 5% 0;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
   
}

.resumeIMG {
    width: 60vw;
    height: 65vh;
}


/*****----- FOOTER -----******/

footer { 
    position: relative;
    width: 100vw;
    min-height: 10vh;
    color: white;
    background-color: var(--cFooter);
    text-align: center;
    padding-top: 10px;
}

.hl {
    margin-top: 0;
    width: 80vw;
    margin-inline: auto;
    padding: 1px;
    background-image: linear-gradient(to right, var(--cFooter), rgba(255, 255, 255, 0.769), var(--cFooter));
}

.footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5%;
    width: 26vw;
    height: fit-content;
}

.footerInfo a {
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}

.footerInfo a:hover {
    text-shadow: 1px 3px 7px rgba(255, 255, 255, 0.777);
    transition: text-shadow .45s;
}

.icon {
    margin: 0 5px;
    height: 35px;
    width: 23px;
}

/***** OTHER *****/

@media only screen and (min-width: 750px) {

    header button {
        font-size: 30px;
    }

    .txt {
        font-size: 21px;
    }

    .about {
        width: 77vw;
        box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.5);
        border-radius: 3%;
    }

    .footerInfo {
        font-size: 20px;
    }

    .pageIntro {
        font-size: 19px;
    }
    
}




               