:root {
    --cHeader: rgb(44, 52, 95) ;
}

a {
    color: white;
}

/******----- HEADER -----******/

#header {
    background-color: var(--cHeader);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#header nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

#header-logo {
    width: 60px;
    height: 40px;
    padding: 5px;
    border:  solid 3px;
}

nav button {
    margin: 7px;
    color: white;
    background-color: transparent;
    border: none;
}

.nav-link {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.nav-link:hover {
    color: white;
    text-shadow: 3px 2px 12px rgba(255, 255, 255, 0.743);
    background-color: var(--cHeader);
    border-radius: 10%;
    padding-top: 10%;
    border-bottom: solid 2px;
    transition: text-shadow .25s;
    transition: padding-top .4s;
}

/*****----- PAGES -----*****/

/* page wapper */

.page-wrapper {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    top: 60px;
    color: rgb(255, 255, 255);
    background-color: var(--cHeader);
}

/**----- HOME -----**/

/* Banner */

#banner {
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(to bottom,var(--cHeader), rgba(69, 86, 133));
}

#banner figure {
    position: relative;
    top: 35%;
}

.bannerTxt {
    position: relative;
    width: 100%;
}

.txt {
    position: absolute;
    margin: 2% 0;
}

.txtRear {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.15);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.14);
}

.txtMid {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 1px 2px 8px rgba(255, 255, 255, 0.4);
}

.txtFront {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.24);
}

/* Projects */

#projectContainer {
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(69, 86, 133), var(--cHeader));

}

.project {
    position:relative;
    width: 75vw;
    min-height: 25vh;
    max-width: 800px;
    margin: 10px 0;
    border: none;
    color: white;
    background-color: transparent;
}

.project:hover {
    border-radius: 2%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.099), rgba(0, 0, 0, 0));
}

.projImageContainer {
    margin: 2.5%;
}

.projImage {
    object-fit: fill;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-left: 2px outset rgba(255, 255, 255, 0.4);
    border-top: 1px outset rgba(255, 255, 255, 0.4);
    box-shadow: -3px 2px 8px white;
    filter: brightness(50%);
    filter: contrast(45%); 
    filter: grayscale(15%);
    transition: border-radius 1s;
}

.projImage:hover {
    border-radius: 25%;
    transition: border-radius .57s;
}

.projImgLeft {
    float: left;

}

.projImgRight {
    float: right;
    padding-left: 5px;

}

#proj1, #proj3 {
    right: 12.5vw;
    text-align: left;

}

#proj2 {
    left: 12vw;
    text-align: right;
}

/**----- ABOUT -----**/

.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    min-height: 70%;
}

/*****----- FOOTER -----******/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 26vh;
    color: white;
    background-color: var(--cHeader);
    margin-top: 13px;
}

.footer {
    min-width: 55%;
    text-align: center;
}

.footer hr {
    border: 3px white groove;
    box-shadow: 2px 2px 5px white;
}

.footerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5%;
    padding: 1px;
    min-width: 175px;
    height: 3vh;
}

.footerInfo a {
    color: white;
    text-decoration: none;
}

.footerInfo a:hover {
    text-shadow: 1px 3px 7px rgba(255, 255, 255, 0.777);
    transition: text-shadow .45s;
}

.icon {
    margin: 0 5px;
    height: 35px;
    width: 23px;
    padding-bottom: 9px;
}




               