:root {
    --cHeader: rgb(44, 52, 95);
    --cFooter: rgb(69, 86, 133);
    --background: #333333;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.blur {
    filter: brightness(0.8) blur(21px);
}

/******----- HEADER -----******/

#sec0 {
    transform: skew(0deg, -10deg) translateY(-120px);
}

#header {
    background-color: var(--cHeader);
    color: white;
    height: 11vh;
    position: fixed;
    top: 0;
    height: 0;
    width: 50vw;
    display: flex;
    align-items: center;
    transform: skew(0deg, 10deg)
}

#headerLogo {
    width: 60px;
    height: 40px;
    padding: 5px;
    border:  solid 3px;
    margin: 0 10px;
}


/*****----- PAGES -----*****/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
    height: fit-content;
    padding: 5vh;   
}

.pageTitle {
    color: white;
    margin: 2%;
}

.txt {
    position: absolute;
    width: fit-content;
    z-index: 10;
}

.txtRear {
    color: rgba(255, 255, 255, 0.15);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.14);
}

.txtMid {
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 1px 2px 8px rgba(255, 255, 255, 0.4);
}

.txtFront {
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.24);
}

.infoBanner {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    width: 45vw;
    text-align: center;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.202), transparent);
}

/**----- HOME -----**/

.homePage::before {
    content: " ";
    color: white;
    width: 100vw;
    height: 8rem;
    position: absolute;
    top: -4rem;
    right: 0;
    transform: skewy(5deg);
    background-color: var(--background);
    box-shadow: 0 10px 11px rgba(255, 255, 255, 0.2);
    z-index: 5;
}

.homePage {
    height: 99vh;
    background-image: linear-gradient(to bottom,var(--cHeader), var(--cFooter));   
    overflow-y: visible;
}

.banner {
    color: white;
    position: relative;
    top: 32vh;
}

.glass {
    padding: 1rem;
    background: linear-gradient(125deg, rgb(255, 255, 255, .1), rgb(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
}

#name {
    transform: skew(1px, 2px);
}

/**----- PROJECTS -----**/

.projectPage::before, .projectPage::after {
    content: " ";
    width: 100vw;
    height: 9rem;
    position: absolute;
    background-color: var(--background);
    z-index: 5;

}

.projectPage::before {  
    top: -5rem;
    transform: skewy(5deg);
    box-shadow: 0 -11px 11px rgba(255, 255, 255, 0.25);
}

.projectPage::after {
    bottom: -5rem;
    transform: skewy(5deg);
}

.projectPage {
    background-color: var(--background);
}

.projectCard {
    color: black;
    margin: 5% 0;
    z-index: 15;
}

/**----- ABOUT -----**/

.aboutPage {
    padding-top: 7rem;
    background-image: linear-gradient(to bottom,var(--cHeader), var(--cFooter));
}

.about {
    position: relative;
    width: 100vw;
    margin: 3.5% 0%;
    box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.5);
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.aboutImage {
    width: 200px;
    height: 170px; 
    filter: grayscale(10%);
    border-radius: 50% 50% 50% 50%;
    margin-bottom: 1%;
}

.aboutSoon {
    color: lightsteelblue;
    font-weight: 500;
}

/*.aboutImage:hover {
    border-radius: 25%;
    transition: border-radius .57s;
}*/

/*****----- FOOTER -----******/

footer { 
    position: relative;
    width: 100vw;
    min-height: 10vh;
    color: white;
    background-color: var(--cFooter);
    text-align: center;
    padding-top: 10px;
}

.hl {
    margin-top: 0;
    width: 80vw;
    margin-inline: auto;
    padding: 1px;
    background-image: linear-gradient(to right, var(--cFooter), rgba(255, 255, 255, 0.769), var(--cFooter));
}

.footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5%;
    width: 26vw;
    height: fit-content;
}

.footerInfo a {
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}

.footerInfo a:hover {
    text-shadow: 1px 3px 7px rgba(255, 255, 255, 0.777);
    transition: text-shadow .45s;
}

.icon {
    margin: 0 5px;
    height: 35px;
    width: 23px;
}

/***** OTHER *****/

@media only screen and (min-width: 750px) {

    header button {
        font-size: 30px;
    }

    .txt {
        font-size: 21px;
    }

    .about {
        width: 77vw;
        box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.5);
        border-radius: 3%;
    }

    .footerInfo {
        font-size: 20px;
    }

    .pageIntro {
        font-size: 19px;
    }
    
}




               