:root {
    --cHeader: rgb(44, 52, 95) ;
}

/* Header */

#header {
    background-color: var(--cHeader);
    height: 6vh;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

#header-logo {
    width: 60px;
    height: 40px;
    padding: 5px;
    border:  solid 3px;
}

#header a {
    margin: 5px 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.nav-link:hover {
    text-shadow: 3px 2px 12px rgba(255, 255, 255, 0.743);
    background-color: var(--cHeader);
    border-radius: 0 0 10% 10%;
    border-right: 1px solid var(--cHeader);
    border-left: 1px solid var(--cHeader);
    border-bottom: 3px solid white;
    padding-top: 10%;
    transition: text-shadow .25s;
    transition: padding-top .4s;
}

/* page wapper */

#page-wrapper {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
}

/* Banner */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: linear-gradient(to bottom,var(--cHeader), rgba(69, 86, 133));
}

/* Projects */

#projectContainer {
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(69, 86, 133), rgb(37, 48, 78));

}

.project {
    position:relative;
    width: 75vw;
    min-height: 25vh;
    max-width: 800px;
    margin: 10px 0;
    border: none;
    color: white;
    background-color: transparent;
}

.project:hover {
    border-radius: 2%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.099), rgba(0, 0, 0, 0));
}

.projImageContainer {
    margin: 2.5%;
}

.projImage {
    object-fit: fill;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-left: 2px outset rgba(255, 255, 255, 0.4);
    border-top: 1px outset rgba(255, 255, 255, 0.4);
    box-shadow: -3px 2px 8px white;
    filter: brightness(70%);
    filter: contrast(55%); 
    filter: grayscale(15%);
    transition: border-radius 1s;
}

.projImage:hover {
    border-radius: 25%;
    transition: border-radius .57s;
}

.projImgLeft {
    float: left;
}

.projImgRight {
    float: right;
    padding-left: 5px;
}

#proj1, #proj3 {
    right: 12.5vw;
    text-align: left;
}

#proj2 {
    left: 12vw;
    text-align: right;
}

/* Languages */

#langs {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(37, 48, 78), var(--cHeader)); 
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    color: white;
    background-color: var(--cHeader);
}

.footer {
    min-width: 55%;
    text-align: center;
}

.footer hr {
    border: 3px white groove;
    box-shadow: 2px 2px 5px white;
}

.footerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5%;
    padding: 1px;
    min-width: 175px;
    height: 3vh;
}

.footerInfo a {
    color: white;
    text-decoration: none;
}

.footerInfo a:hover {
    text-shadow: 1px 3px 7px rgba(255, 255, 255, 0.777);
    transition: text-shadow .45s;
}

.icon {
    margin: 0 5px;
    height: 35px;
    width: 23px;
    padding-bottom: 9px;
}




               